body{
    background-color: rgb(175, 219, 204);
    align-items: center;
}

table{
    width : 100%;
}

form{
    background : #ffffff;
    padding: 30px;
}

marquee-container{
    color: white;
    font-weight: bold;
}
